#title {
    z-index: 1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 50%; /* Set width to 100% */
    margin: auto;
  }
  
  .carousel-caption h3 {
    color: #fff !important;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

  .navbar { 
    
        margin-bottom: 0;
        background-color: #2d2d30;
        border: 0;
        font-family: "Lucida Console", "Courier New", monospace;
        letter-spacing: 1px;
        opacity: 0.9;
      
  }

  img {
      
  }